In [1]:
import numpy as np
import pandas as pd

In [2]:
from terminator import ColumnOneHotEncoder

In [3]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
pclasses = np.unique(np.concatenate([train['Pclass'].unique(), test['Pclass'].unique()]))
pclasses

array([1, 2, 3])

In [6]:
encoder = ColumnOneHotEncoder(colname='Pclass', items=pclasses)

In [7]:
encoder.encode(train)

In [8]:
train

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_0,Pclass_1,Pclass_2
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,False,False,True
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True,False,False
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False,False,True
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True,False,False
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,False,False,True
5,6,0,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,False,False,True
6,7,0,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,True,False,False
7,8,0,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,False,False,True
8,9,1,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,False,False,True
9,10,1,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,False,True,False
10,11,1,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,False,False,True
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,True,False,False
12,13,0,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,False,False,True
13,14,0,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,False,False,True
14,15,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,False,False,True
15,16,1,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,False,True,False
16,17,0,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,False,False,True
17,18,1,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,False,True,False
18,19,0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,False,False,True
19,20,1,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,False,False,True
20,21,0,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,False,True,False
21,22,1,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,False,True,False
22,23,1,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,False,False,True
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,True,False,False
24,25,0,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,False,False,True
25,26,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,False,False,True
26,27,0,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,False,False,True
27,28,0,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,True,False,False
28,29,1,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,False,False,True
29,30,0,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,False,True,False
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,True,False,False
863,864,0,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,False,False,True
864,865,0,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,False,True,False
865,866,1,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,False,True,False
866,867,1,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,False,True,False
867,868,0,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,True,False,False
868,869,0,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,False,False,True
869,870,1,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,False,False,True
870,871,0,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,False,False,True
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,True,False,False
872,873,0,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,True,False,False
873,874,0,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,False,False,True
874,875,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,False,True,False
875,876,1,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,False,False,True
876,877,0,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,False,False,True
877,878,0,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,False,False,True
878,879,0,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,False,False,True
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,True,False,False
880,881,1,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,False,True,False
881,882,0,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,False,False,True
882,883,0,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,False,False,True
883,884,0,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,False,True,False
884,885,0,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,False,False,True
885,886,0,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,False,False,True
886,887,0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,False,True,False
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,True,False,False
888,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False,False,True
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True,False,False
890,891,0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,False,False,True

In [17]:
pd.isna(train['Cabin'])

0       True
1      False
2       True
3      False
4       True
5       True
6      False
7       True
8       True
9       True
10     False
11     False
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22      True
23     False
24      True
25      True
26      True
27     False
28      True
29      True
       ...
861     True
862    False
863     True
864     True
865     True
866     True
867    False
868     True
869     True
870     True
871    False
872    False
873     True
874     True
875     True
876     True
877     True
878     True
879    False
880     True
881     True
882     True
883     True
884     True
885     True
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [21]:
df = pd.DataFrame({'a': [0, 3, np.nan, 3]})

In [23]:
df['a'].unique()

array([  0.,   3.,  nan])

In [ ]:
pclass_encoder = Encoder('Pclass', dfs)

In [ ]:
pclass_encoder.encode(train)

In [ ]:
item2num, num2item = dfs_column2num_dicts(colname, *dfs)
item2num_fun = np.vectorize(dict2fun(item2num))
max_item_num = max(item2num.values())
max_item_num

In [ ]:
df = train
df[colname] = item2num_fun(df[colname])
df_ints2one_hot_encoding(df, colname, max_item_num)

In [ ]:
dfs_column2list_uniques('Sex', train, test)

In [ ]:
dfs_column2list_uniques('Embarked', train, test)