In [1]:
import numpy as np
import pandas as pd

In [2]:
from lencoder import ColumnOneHotEncoder, OneHotEncoder

In [3]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [4]:
train.columns.values,

(array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
        'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object),)

In [5]:
test.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [6]:
train['train'] = True
test['train'] = False

In [7]:
all_data = pd.concat([train, test])

In [8]:
all_data['Pclass'] = all_data['Pclass'].astype('str')

### Pclass

`Pclass` does not have nans.

So we can encode it without nan.

In [9]:
ohe = OneHotEncoder(items=all_data['Pclass'], colname='Pclass', add_nan=False)

In [10]:
cohe = ColumnOneHotEncoder(items=all_data['Pclass'], colname='Pclass', add_nan=False)

In [11]:
cohe.item2num

In [12]:
cohe.create_dicts().encode(all_data)

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Sex,SibSp,Survived,Ticket,train,Pclass_0,Pclass_1,Pclass_2
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,male,1,0.0,A/5 21171,True,False,False,True
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,female,1,1.0,PC 17599,True,True,False,False
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,1.0,STON/O2. 3101282,True,False,False,True
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,female,1,1.0,113803,True,True,False,False
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,male,0,0.0,373450,True,False,False,True
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,male,0,0.0,330877,True,False,False,True
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,male,0,0.0,17463,True,True,False,False
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,male,3,0.0,349909,True,False,False,True
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,female,0,1.0,347742,True,False,False,True
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,female,1,1.0,237736,True,False,True,False
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,female,1,1.0,PP 9549,True,False,False,True
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,female,0,1.0,113783,True,True,False,False
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,male,0,0.0,A/5. 2151,True,False,False,True
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,male,1,0.0,347082,True,False,False,True
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,female,0,0.0,350406,True,False,False,True
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,female,0,1.0,248706,True,False,True,False
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,male,4,0.0,382652,True,False,False,True
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,male,0,1.0,244373,True,False,True,False
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,female,1,0.0,345763,True,False,False,True
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,female,0,1.0,2649,True,False,False,True
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,male,0,0.0,239865,True,False,True,False
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,male,0,1.0,248698,True,False,True,False
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,female,0,1.0,330923,True,False,False,True
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,male,0,1.0,113788,True,True,False,False
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,female,3,0.0,349909,True,False,False,True
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,female,1,1.0,347077,True,False,False,True
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,male,0,0.0,2631,True,False,False,True
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,male,3,0.0,19950,True,True,False,False
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,female,0,1.0,330959,True,False,False,True
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,male,0,0.0,349216,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,male,0,NaN,364858,False,False,False,True
1280,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,male,3,NaN,349909,False,False,False,True
1281,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,male,0,NaN,12749,False,True,False,False
1282,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,female,0,NaN,PC 17592,False,True,False,False
1283,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,male,0,NaN,C.A. 2673,False,False,False,True
1284,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,male,0,NaN,C.A. 30769,False,False,True,False
1285,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,male,3,NaN,315153,False,False,False,True
1286,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,female,1,NaN,13695,False,True,False,False
1287,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,male,0,NaN,371109,False,False,False,True
1288,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,female,1,NaN,13567,False,True,False,False
1289,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,male,0,NaN,347065,False,False,False,True
1290,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,male,0,NaN,21332,False,False,False,True
1291,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,female,0,NaN,36928,False,True,False,False
1292,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,male,1,NaN,28664,False,False,True,False
1293,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,female,0,NaN,112378,False,True,False,False
1294,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,male,0,NaN,113059,False,True,False,False
1295,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,male,1,NaN,17765,False,True,False,False
1296,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,male,0,NaN,SC/PARIS 2166,False,False,True,False
1297,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,male,1,NaN,28666,False,False,True,False
1298,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,male,1,NaN,113503,False,True,False,False
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,female,0,NaN,334915,False,False,False,True
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,female,1,NaN,SOTON/O.Q. 3101315,False,False,False,True
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,female,0,NaN,365237,False,False,False,True
1302,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,female,1,NaN,19928,False,True,False,False
1303,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,female,0,NaN,347086,False,False,False,True
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,male,0,NaN,A.5. 3236,False,False,False,True
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,female,0,NaN,PC 17758,False,True,False,False
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,male,0,NaN,SOTON/O.Q. 3101262,False,False,False,True
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,male,0,NaN,359309,False,False,False,True
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,male,1,NaN,2668,False,False,False,True

In [14]:
all_data = all_data