In [2]:
import numpy as np
import pandas as pd

In [3]:
from terminator.utils import  dfs_column2list_uniques, dfs_column2num_dicts, dict2fun, df_ints2one_hot_encoding
from terminator import Encoder

In [4]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
dfs_column2list_uniques('Pclass', train, test)

[1, 2, 3]

In [7]:
colname = 'Pclass'
dfs = [train, test]

In [8]:
pclass_encoder = Encoder('Pclass', dfs)

In [9]:
pclass_encoder.encode(train)

NameError: name 'np' is not defined

In [ ]:
item2num, num2item = dfs_column2num_dicts(colname, *dfs)
item2num_fun = np.vectorize(dict2fun(item2num))
max_item_num = max(item2num.values())
max_item_num

In [ ]:
df = train
df[colname] = item2num_fun(df[colname])
df_ints2one_hot_encoding(df, colname, max_item_num)

In [ ]:
dfs_column2list_uniques('Sex', train, test)

In [ ]:
dfs_column2list_uniques('Embarked', train, test)