# LENCODER

Transformations of python's dataframes and arraya that I can understand.

# One-Hot-Encoding

In [1]:
import numpy as np
import pandas as pd

items = ['a', 'b', 'c']

### One-Hot-Encoding adding nans

In [2]:
from lencoder import OneHotEncoder

ohenc = OneHotEncoder(items).create_dicts()
encoded = ohenc.encode(np.array(['a', 'b']))
print(encoded)

[[False  True False False]
 [False False  True False]]

### One-Hot-Encoding no nans

In [3]:
ohenc = OneHotEncoder(items, add_nan=False).create_dicts()
encoded = ohenc.encode(np.array(['a', 'b']))
print(encoded)

[[ True False False]
 [False  True False]]

In [13]:
ohenc.decode(encoded)

array(['a', 'b'],
      dtype='<U1')

#### Save and load from disk

In [14]:
ohenc.dump_dicts('ohe_nonans_')

In [18]:
ohenc_from_saved = OneHotEncoder.create_from_saved_dicts('ohe_nonans_')

In [19]:
ohenc_from_saved.encode(np.array(['a', 'b']))

array([[ True, False, False],
       [False,  True, False]], dtype=bool)

### One-Hot-Encoding of columns, directly

In [5]:
items_df = pd.DataFrame({'col': items})

In [6]:
from lencoder import ColumnOneHotEncoder

In [8]:
cohenc = ColumnOneHotEncoder(items=items_df['col'], colname='col', add_nan=False)
cohenc.create_dicts().encode(items_df)

   col_0  col_1  col_2
0   True  False  False
1  False   True  False
2  False  False   True

In [9]:
items_df

  col
0   a
1   b
2   c

In [10]:
cohenc = ColumnOneHotEncoder(items=items_df['col'], colname='col')
cohenc.create_dicts().encode(items_df)

   col_0  col_1  col_2  col_3
0  False   True  False  False
1  False  False   True  False
2  False  False  False   True

#### Save and load from disk

In [20]:
cohenc.dump_dicts("column_ohe_with_nans")

In [22]:
saved_cohenc = ColumnOneHotEncoder.create_from_saved_dicts("column_ohe_with_nans")

In [23]:
saved_cohenc.encode(items_df)

   col_0  col_1  col_2  col_3
0  False   True  False  False
1  False  False   True  False
2  False  False  False   True